*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
header{
    background-color: blue;
    height: 200px;
    text-align: center;
    color: #fff;
    margin: auto;
    vertical-align: middle;
    padding: 4em;
    margin-bottom: 30px;
}

.botao{
    position: relative;
    display: inline-table;
    padding: 10px 40px;
    background-color: blue;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}

.rodape{
    border-top: 1px solid rgb(98, 98, 102);
    padding: 30px;
    margin-top: 30px;
}
.cards{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;


}
.imagem-patrocinio{
    text-align: center;
    min-width: 350px;
    margin: 50px auto;
}

#dias{
    margin-bottom: 50px;
}